In [1]:
import quandl

In [2]:

quandl.ApiConfig.api_key = "iH2PrFJwVREZoY9TdYgE"

In [3]:
data = quandl.get("EIA/PET_RWTC_D")

In [4]:
data

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
...           ...
2020-11-17  41.24
2020-11-18  41.64
2020-11-19  41.57
2020-11-20  41.99
2020-11-23  42.91

[8817 rows x 1 columns]