In [17]:
import quandl
import pandas as pd

In [18]:

quandl.ApiConfig.api_key = "iH2PrFJwVREZoY9TdYgE"

In [19]:
upstream_data = quandl.get("FSE/EON_X")

In [20]:
logic = {'Open'  : 'first',
         'High'  : 'max',
         'Low'   : 'min',
         'Close' : 'last',
         'Traded Volume': 'sum'}

offset = pd.offsets.timedelta(days=-6)

In [21]:
weekly_data = upstream_data.resample('W', loffset=offset).apply(logic)

In [22]:
weekly_data

              Open    High     Low   Close  Traded Volume
Date
2003-01-20  41.550  42.020  36.660  36.930     19380691.0
2003-01-27  37.500  42.500  36.400  42.250     38349142.0
2003-02-03  42.500  42.590  36.810  37.210     20496042.0
2003-02-10  37.500  39.190  35.700  38.600     17490297.0
2003-02-17  38.850  38.850  36.320  38.800     15554466.0
...            ...     ...     ...     ...            ...
2020-10-05   9.764   9.842   9.676   9.750        74971.0
2020-10-12   9.758   9.824   9.518   9.730        51980.0
2020-10-19   9.722   9.832   9.330   9.500        66940.0
2020-10-26   9.472   9.536   8.738   8.962       286746.0
2020-11-02   8.958   9.476   8.890   9.210        63816.0

[929 rows x 5 columns]